{% extends 'base.html.twig' %}

{% block title %}Modifier client{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Modifier le client</h1>
        <a href="{{ path('client_index') }}" class="btn btn-secondary">← Retour à la liste</a>
    </div>

    {{ form_start(form) }}

    <div class="row w-50">
        <div class="col-md-6 mb-3">
            {{ form_row(form.gerantNom) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.gerantPrenom) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.raisonSocial) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.telephone) }}
        </div>

        <div class="col-md-6 mb-3">
            {{ form_row(form.adresse) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.ville) }}
        </div>

        <div class="col-md-6 mb-3">
            {{ form_row(form.pays) }}
        </div>
    </div>

    <button class="btn btn-primary mt-3">Mettre à jour</button>

    {{ form_end(form) }}
</div>
{% endblock %}
